*{ overflow-x: hidden;
}

h1, h2, h3, p, ul   {
    text-align: center;
    justify-content: center;
}
  body {
    background-color: antiquewhite; 
}

div.toppings {
    text-align: center;
}

ul.myul {
    text-align: center;
}

img  {
    display:block; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


   